<launch>

    <!-- First we set some parameters (variables shared by these nodes) -->
    <param name="results_dir" type="string" value="$(find pos_estimator2)/training_data/" />
    <param name="kinect_rgb_topic" type="string" value="kinect2/sd/image_color" />
    <param name="kinect_depth_topic" type="string" value="kinect2/sd/image_depth" />
    
    <!-- Coordinates for movement -->
    
    <!-- First coordinate -->
    <param name="coords/1/x" type="double" value="0.0" />
    <param name="coords/1/y" type="double" value="0.5" />
    
    <!-- Second coordinate -->
    <param name="coords/2/x" type="double" value="0.5" />
    <param name="coords/2/y" type="double" value="0.5" />
    
    <!-- Third coordinate -->
    <param name="coords/3/x" type="double" value="0.5" />
    <param name="coords/3/y" type="double" value="0.0" />
    
    <!-- Bring up our external nodes: The Turtlebot action server, the Kobuki base, and the Kinect -->
    <include file="$(find kobuki_node)/launch/minimal.launch" />
    <node pkg="turtlebot_actions" type="turtlebot_move_action_server" name="turtlebot_move" ns="pos_estimator2" />
    <include file="$(find kinect2bridge)/launch/kinect2bridge.launch" />
    
    <!-- Bring up our own nodes, under the namespace "pos_estimator2" -->
    <node pkg="pos_estimator2" type="mastermind_node.py" name="mastermind" ns="pos_estimator2" />
    <node pkg="pos_estimator2" type="acquire_data_node.py" name="acquire_data" ns="pos_estimator2" />
    <node pkg="pos_estimator2" type="store_data_node.py" name="store_data" ns="pos_estimator2" />
    <node pkg="pos_estimator2" type="pos_evaluation_node.py" name="pos_evaluator" ns="pos_estimator2" />
    <node pkg="pos_estimator2" type="error_correction_node.py" name="correct_errors" ns="pos_estimator2" />



<\launch>